nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    height: 100px;
    width: 100%;
    color: black;
    font-family: 'Montserrat', sans-serif;
}